/***************************
           DEFAULT
****************************/
body{
    background-color:#f1f1f1;
}



/***************************
          MAIN
****************************/
main{
    overflow-x:scroll;
}


/***************************
          TABLE
****************************/
table{
    width:100%;
    overflow-x:scroll;
    border-collapse:collapse;
}

table td, table th{
    padding:0.5rem 1rem;
    white-space:nowrap;
    border:1px solid rgba(1,1,1,0.2);
    font-size:12px;
}

table thead tr{
    background-color:var(--primary);
    color:var(--white);
}

table .btn{
    padding:0.5rem 1rem;
}

table .btn:not(:last-child){
    margin-right:10px;
}

table img{
    width:20px;
    height:20px;
}

.modal .closer{
    color:var(--dark);
}
