/***************************
    CUSTOM SCROLL BAR
****************************/
*, html{
    scroll-behavior: smooth;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root{
    --white:#FFF;
    --black:#000;
    --lite:rgba(255,255,255,0.6);
    --gray:rgba(1,1,1,0.6);
    --dark:#1b1b1b;
    --primary:#1a73e8;
    --secondary:#fbbc04;
    --default_font:'Nunito Sans', sans-serif;
    --title_font:'Nunito Sans', sans-serif;
}

::-webkit-scrollbar {
    height: 12px;
    width: 4px;
    background: var(--dark);
}

::-webkit-scrollbar-thumb {
    background: gray;
    -webkit-box-shadow: 0px 1px 2px var(--dark);
}

::-webkit-scrollbar-corner {
    background: var(--dark);
}





/***************************
            DEFAULT
****************************/
body{
    margin:0;
    overflow-x:hidden !important;
    font-family: var(--default_font);
}

a{
    text-decoration:none !important;
    min-width: fit-content;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
}

a, button{
    transition:0.5s;
}

a:hover, button:hover{
    opacity:1 !important;
}

em{
    font-style:normal;
    color:var(--primary_dark);
}

figure{
    padding:0;
    margin:0;
}

figure img{
    min-width:100%;
    min-height:100%;
    width:100%;
    height:100%;
}

a, p, .btn{
    font-size:15px;
}

p{
    line-height:1.9em;
    color:var(--gray);
}

a, button, input, textarea, select{
    outline:none !important;
}

fieldset{
    border:0;
}

h1, h2, h3, h4, h5, h6{
    margin:0;
}

ul{
    padding:0;
    margin:0;
}

li{
    list-style:none;
}

label input{
    display:none;
}

.active{
    opacity:1 !important;
}

.title, .sub_title{
    font-family:var(--title_font);
    font-weight:600;
    margin:0;
}

.flex, .fixed_flex{
    display:flex;
}

.flex_content{
    width:100%;
    position:relative;
}

.grid{
    display:grid;
}

.padding_1x{
    padding:1rem;
}

.padding_2x{
    padding:2rem;
}

.padding_3x{
    padding:3rem;
}

.padding_4x{
    padding:4rem;
}

.big{
    font-size:3.5em;
}

.medium{
    font-size:2em;
}

.small{
    font-size:1.3em;
}

.center{
    text-align:center;
}

.btn{
    padding:1rem 2.5rem;
    border-radius:5px;
    position:relative;
    border:0;
    text-align:center;
}

.btn_1{
    background:var(--primary);
    color:var(--white);
}

.btn_1:hover{
    opacity:0.8 !important;
}

.btn_2{
    background-color:var(--secondary);
    color:var(--dark);
}

.btn_2:hover{
    opacity:0.8 !important;
}

.btn_3{
    display:block;
    background-color:0;
    color:var(--white);
    position:relative;
    font-family:var(--default_font);
    font-weight:400;
    text-transform:uppercase;
}

.btn_3:before{
    content:"";
    border-radius:50%;
    background-color:rgba(255,255,255,0.2);
    position:absolute;
    left:0;
    top:50%;
    width:50px;
    height:50px;
    transition:0.5s;
    transform:translate(0%, -50%);
}

.btn_3:after{
    content:"\f178";
    font-family:"FontAwesome";
    margin-left:5px;
}

.btn_3:hover:before{
    border-radius:40px;
    width:100%;
}

.btn_4{
    background:#e8f0fe;
    color:var(--primary);
}

.btn_5{
    background:#7c0000;
    color:var(--white);
}

.btn_5:hover{
    opacity:0.8 !important;
}

.divisions{
    position:relative;
}

.title_header{
    margin:auto;
    text-align:center;
    width:60%;
}

.ball:before{
    content:"";
    border-radius:50%;
    background-color:rgba(1,1,1,0.2);
    position:absolute;
    left:0;
    top:50%;
    width:30px;
    height:30px;  
    transform:translate(-50%, -50%);
}

.link-tag{
    position:relative;
}

.link-tag:before{
    content:"\f0da";
    font-family:"FontAwesome";
    margin-right:5px;
    transition:0.5s;
    color:var(--primary_dark);
}

.link-tag:hover:before{
    margin-right:10px;
    color:var(--black);
}

.link-tag:hover{
    color:var(--primary_dark);
}

@media (max-width:920px){
    .flex{
        flex-wrap:wrap;
    }
    
    .padding_1x, .padding_2x, .padding_3x, .padding_4x{
        padding:1rem;
    }
    
    .big{
        font-size:1.8em;
    }
    
    .medium{
        font-size:1.6em;
    }
    
    .small{
        font-size:1.1em;
    }
    
    .btn{
        padding:0.5rem 1rem;
    }
    
    a, p, .btn{
        font-size:12px;
    }
    
    .title_header{
        width:100%;
    }
}




/***************************
            NAV
****************************/
nav{
    background-color:var(--white);
    align-items:center;
    justify-content:space-between;
    padding:0 1rem;
}

nav a, nav figure{
    padding:1rem;
    color:var(--dark);
    opacity:0.6;
}

nav figure{
    font-weight:800;
    color:var(--primary);
}



/***************************
        ADDITIONAL
****************************/
.alert{
    position:fixed;
    right:0.5rem;
    bottom:0.5rem;
    z-index:9;
}

.alert section{
    position:relative;
    background-color:var(--dark);
    border:1px solid rgba(1,1,1,0.2);
    color:var(--white);
    align-items:center;
    max-width:300px;
    border-radius:10px;
    padding:1rem 2rem;
}

.closer{
    position:absolute;
    top:6px;
    right:10px;
    opacity:0.6;
    color:var(--white);
}

.alert section .warning, .alert section .danger{
    margin-right:20px;
    font-size:3em;
}

.warning{
    color:var(--secondary);
}

.danger{
    color:red;
}

.alert section .title{
    position:relative;
    top:8px;
}

.alert section p{
    color:var(--lite);
}

.message{
    height:100%;
    background-color:var(--white);
    display:flex;
    align-items:center;
    justify-content:center;
}

.checkmark_wrapper {
    background-color:var(--white);
    text-align:center;
    position:relative;
}

.checkmark_wrapper .closer{
    color:var(--dark);
}

.checkmark_wrapper svg{
    width:50px;
    margin:auto;
}

.checkmark {
    stroke: green;
    stroke-dashoffset: 745.7485351563;
    stroke-dasharray: 745.7485351563;
    -webkit-animation: dash 2s ease-out forwards infinite;
    animation: dash 2s ease-out forwards infinite;
}

/*modal*/
.modal{
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:70%;
    background-color:var(--white);
    border-radius:10px;
    overflow:hidden;
    z-index:999;
    max-height:85vh;
}

.overlay{
    position:fixed;
    top:0;
    left:0;
    background-color:var(--gray);
    width:100%;
    height:100%;
    z-index:99;
    overflow:hidden;
}

/*paggination*/
.paggination{
    align-items:center;
    display:block;
    margin:2rem 0;
}

.paggination button{
    padding:0.3rem 0.6rem;
    background-color:transparent;
    border:1px solid rgba(1,1,1,0.2);
    color:var(--gray);
}

.paggination button:hover{
    background-color:#f9f9f9;
}

.paggination .active{
    background-color:var(--primary);
    color:var(--white);
    border:1px solid var(--primary);
}

@media (max-width:920px){
    .checkmark_wrapper {
        width:100%;
    }
}
